body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.banner {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

#columnWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: aqua;
}

.column {
  width: 20%;
  height: 100%;
  border: 1px solid black;
}

#headline {
  position: absolute;
  top: 13.16666%;
  left: 50%;
  transform: translateX(-50%);
  width: 53.125%;
  height: 19.6666%;
  background-color: #00ff9e;
}

#logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 13vw;
  height: 9.6vh;
  background-color: #b3282d;
}
