$sdRed: #b3282d;

body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	//background: aqua;
}

section.banner {
	position: absolute;
	width: 100%!important;
	height: 100%!important;
}

#columnWrapper {
	display: flex;
	width: 100%;
	height: 100%;
	background: black;
	overflow: hidden;
}

.column {
	width: 20%;
	height: 100%;
	//border: 1px solid black;
	overflow: hidden;
	//display: flex;
}

.columnBg {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.columnFg {
	position: relative;
	top: -100%;
	//bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.info {
	position: absolute;
	bottom: 0;
	width: 20%;
	height: 200px;
}

.cTxt {
	position: absolute;
	bottom: 20px;
	width: 20%;
	height: 100px;
	//background-color: #5eff84;
	//padding: 20px;
	//align-self: center;
	background-repeat: no-repeat;
	background-position: center bottom;
}

#txt1 {
	background-size: 65%;
	background-image: url(txt_01.png);
}

#txt2 {
	background-size: 50.24%;
	background-image: url(txt_02.png);
}

#txt3 {
	background-size: 93.17%;
	background-image: url(txt_03.png);
}

#txt4 {
	background-size: 47.56%;
	background-image: url(txt_04.png);
}

#txt5 {
	background-size: 49.51%;
	background-image: url(txt_05.png);
}


.btnGt {
	position: absolute;
	bottom: 60px;
	width: 20%;
	height: 100px;
}

#btnGtInner1 {
	margin: 0 auto;
	width: 20%;
	height: 100%;
	left: 50%;
}

#btnGtInner2 {
	margin: 0 auto;
	width: 20%;
	height: 100%;
	left: 50%;
}

#btnGtInner3 {
	margin: 0 auto;
	width: 20%;
	height: 100%;
	left: 50%;
}

#btnGtInner4 {
	margin: 0 auto;
	width: 20%;
	height: 100%;
	left: 50%;
}

#btnGtInner5 {
	margin: 0 auto;
	width: 20%;
	height: 100%;
	left: 50%;
}



#colbg1 {
	background-image: url(bg_01_2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}
#colfg1 {
	background-image: url(fg_01.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

#colbg2 {
	background-image: url(bg_02_2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}
#colfg2 {
	background-image: url(fg_02.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

#colbg3 {
	background-image: url(bg_03_2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#colfg3 {
	background-image: url(fg_03.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

#colbg4 {
	background-image: url(bg_04_2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#colfg4 {
	background-image: url(fg_04.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

#colbg5 {
	background-image: url(bg_05_2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#colfg5 {
	background-image: url(fg_05.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

#blackOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -10;
	opacity: 0;
}

#overlay {
	position: absolute;

	width: 77.63%;
	height: 72.916%;

	min-width: 795px;
	min-height: 438px;

	max-width: 1590px;
	max-height: 875px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -20;

	//opacity: 0;

	border: 1px solid black;

	overflow: hidden;
}

#countDownTxt {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.4em;
	letter-spacing: 0.1em;
	color: #FFF;
	z-index: 920;
	opacity: 0;
}


#headline {
	position: absolute;
	top: 13.16666%;
	left: 50%;
	transform: translateX(-50%);
	width: 53.125%;
	height: 25%;
	//background-color: #00ff9e;
	pointer-events: none;
	background-image: url(txt_headline.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: center;
}

#logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 13vw;
	height: 9.6vh;
	background-image: url(logo_sd.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	background-color: #b3282d;
}

#winScreen {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#wsHeader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(overlay_header.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	}

#wsBg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url(ws_badlands_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;

}

#wsFg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url(ws_badlands_fg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

#ctaWrapper {
	display: flex;
	justify-content: center;
	position: absolute;
	margin: auto;
	top: 70%;
	width: 100%;
	height: 100px;
}

#cta1 {
	width: 246px;
	height: 50px;
	background-color: $sdRed;
	background-image: url(cta_txt_exploreSd.png);
	background-position: center center;
	background-size: 80%;
	background-repeat: no-repeat;
	margin-right: 20px;
}

#cta2 {
	width: 246px;
	height: 50px;
	background-color: $sdRed;
	background-image: url(cta_txt_chooseScene.png);
	background-position: center center;
	background-size: 80%;
	background-repeat: no-repeat;
	margin-left: 20px;
}

#wsHeadline {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 22.85%;
	background-image: url(txt_greatFind.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}







